/*---------Basic Setup-------------*/


/*--William Sorrentino Rutgers Bootcamp Summer 2017--->
<---Tuesday/Thursday Class-----*/

html {
    box-sizing: border-box;
}

body {
    /*    background-image: url("../images/background.jpg");*/
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 150%;
    text-rendering: optimizeLegibility;
}

h3 {
    font-size: 20px;
    line-height: 1.5;
    color: black;
}

#theScoring {
    margin-left: 50px;
}

#computerNumber {
    margin-left: 50px;
}

/*
#crystals {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
*/

.crystalImage {
    height: 150px;
    width: auto;
    margin-left: 40px
}
