/*---------Basic Setup-------------*/


/*--William Sorrentino Rutgers Bootcamp Summer 2017--->
<---Tuesday/Thursday Class-----*/

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 125%;
    text-rendering: optimizeLegibility;
}


/*style the text for the rules of the game*/

h3 {
    font-size: 18px;
    line-height: 1.25;
    color: black;
}


/*set margins to center the games stats in their boxes*/

#theScoring {
    margin-left: 50px;
}

#computerNumber {
    margin-left: 50px;
}


/*set size of photos and add space between them*/

.crystalImage {
    height: 150px;
    width: auto;
    margin-left: 40px
}
